src/Schemas/index.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ProviderGen"
	targetNamespace="http://tempuri.org/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
	xmlns:i0="http://schemas.xmltravelgate.com/hubpush/provider/2012/10"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsa10="http://www.w3.org/2005/08/addressing"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
	xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://tempuri.org/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<wsp:Policy wsu:Id="BasicHttpBinding_IProviderGen_policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:TransportBinding
					xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:TransportToken>
							<wsp:Policy>
								<sp:HttpsToken RequireClientCertificate="false" />
							</wsp:Policy>
						</sp:TransportToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic256 />
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:Layout>
							<wsp:Policy>
								<sp:Lax />
							</wsp:Policy>
						</sp:Layout>
						<sp:IncludeTimestamp />
					</wsp:Policy>
				</sp:TransportBinding>
				<sp:SignedSupportingTokens
					xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy>
						<sp:UsernameToken
							sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
							<wsp:Policy>
								<sp:WssUsernameToken10 />
							</wsp:Policy>
						</sp:UsernameToken>
					</wsp:Policy>
				</sp:SignedSupportingTokens>
				<sp:Wss10
					xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
					<wsp:Policy />
				</sp:Wss10>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsdl:import
		namespace="http://schemas.xmltravelgate.com/hubpush/provider/2012/10"
		location="wsdl0.wsdl" />
	<wsdl:types />
	<wsdl:binding name="BasicHttpBinding_IProviderGen"
		type="i0:IProviderGen">
		<wsp:PolicyReference
			URI="#BasicHttpBinding_IProviderGen_policy" />
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CheckStatus">
			<soap:operation
				soapAction="http://schemas.xmltravelgate.com/hubpush/provider/2012/10/IProviderGen/CheckStatus"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CheckFlux">
			<soap:operation
				soapAction="http://schemas.xmltravelgate.com/hubpush/provider/2012/10/IProviderGen/CheckFlux"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HotelAvail">
			<soap:operation
				soapAction="http://schemas.xmltravelgate.com/hubpush/provider/2012/10/IProviderGen/HotelAvail"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HotelValuation">
			<soap:operation
				soapAction="http://schemas.xmltravelgate.com/hubpush/provider/2012/10/IProviderGen/HotelValuation"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HotelRes">
			<soap:operation
				soapAction="http://schemas.xmltravelgate.com/hubpush/provider/2012/10/IProviderGen/HotelRes"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Cancel">
			<soap:operation
				soapAction="http://schemas.xmltravelgate.com/hubpush/provider/2012/10/IProviderGen/Cancel"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HotelResRead">
			<soap:operation
				soapAction="http://schemas.xmltravelgate.com/hubpush/provider/2012/10/IProviderGen/HotelResRead"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HotelReservationList">
			<soap:operation
				soapAction="http://schemas.xmltravelgate.com/hubpush/provider/2012/10/IProviderGen/HotelReservationList"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HotelDescriptiveInfo">
			<soap:operation
				soapAction="http://schemas.xmltravelgate.com/hubpush/provider/2012/10/IProviderGen/HotelDescriptiveInfo"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HotelListInfo">
			<soap:operation
				soapAction="http://schemas.xmltravelgate.com/hubpush/provider/2012/10/IProviderGen/HotelListInfo"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HotelAvailNotif">
			<soap:operation
				soapAction="http://schemas.xmltravelgate.com/hubpush/provider/2012/10/IProviderGen/HotelAvailNotif"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HotelRatePlanNotif">
			<soap:operation
				soapAction="http://schemas.xmltravelgate.com/hubpush/provider/2012/10/IProviderGen/HotelRatePlanNotif"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
        <wsdl:operation name="OTA_HotelResRS">
            <soap:operation
                soapAction="http://schemas.xmltravelgate.com/hubpush/provider/2012/10/IProviderGen/OTA_HotelResRS"
                style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="HotelRatePlanInventoryNotif">
			<soap:operation
				soapAction="http://schemas.xmltravelgate.com/hubpush/provider/2012/10/IProviderGen/HotelRatePlanInventoryNotif"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HotelRatePlanRetrieve">
			<soap:operation
				soapAction="http://schemas.xmltravelgate.com/hubpush/provider/2012/10/IProviderGen/HotelRatePlanRetrieve"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HotelAvailRetrieve">
			<soap:operation
				soapAction="http://schemas.xmltravelgate.com/hubpush/provider/2012/10/IProviderGen/HotelAvailRetrieve"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HotelRatePlanInventoryRetrieve">
			<soap:operation
				soapAction="http://schemas.xmltravelgate.com/hubpush/provider/2012/10/IProviderGen/HotelRatePlanInventoryRetrieve"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HotelResRetrieve">
			<soap:operation
				soapAction="http://schemas.xmltravelgate.com/hubpush/provider/2012/10/IProviderGen/HotelResRetrieve"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="HotelRoomListRetrieve">
			<soap:operation
				soapAction="http://schemas.xmltravelgate.com/hubpush/provider/2012/10/IProviderGen/HotelRoomListRetrieve"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ProviderGen">
		<wsdl:port name="BasicHttpBinding_IProviderGen"
			binding="tns:BasicHttpBinding_IProviderGen">
			<soap:address
				location="https://pushprovider.xmltravelgate.com/Service/Hotel/Provider/ProviderGen.svc" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>