src/Schemas/xsd2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
	targetNamespace="http://schemas.datacontract.org/2004/07/XTG.HubPush.WSProvider.Classes"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://schemas.datacontract.org/2004/07/XTG.HubPush.WSProvider.Classes">
	<xs:complexType name="Response">
		<xs:sequence>
			<xs:element minOccurs="0" name="Code" nillable="true"
				type="xs:string" />
			<xs:element minOccurs="0" name="Status" nillable="true"
				type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Response" nillable="true"
		type="tns:Response" />
</xs:schema>